@{
        ViewBag.Title = "Home Page";
}

@model IEnumerable<EdamamService.Recipe>

<div class="jumbotron">
    <h1>Kitchenary</h1>
    <p class="lead">Hackathon 2018</p>
    <div class="form-group">
        @using (Html.BeginForm("Index", "Home"))
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" value="" placeholder="Search for Recipes">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="Search Recipes">Search</button>
                    </span>
                </div>
            </div>
        </div>
        }
    </div>
    @if (Model != null && Model.Count() > 0)
    {
        <ul>
            @foreach (var recipe in Model)
            {
                <li>
                    <b>@recipe.Label</b><br />
                    Ingredients:
                    <ul>
                        @foreach (var ingredient in recipe.Ingredients)
                        {
                            <li>@ingredient.Text</li>
                        }
                    </ul>
                </li>
            }
        </ul>
    }
</div>